<launch>

  <!--gmapping config file-->
  <arg name="configuration_basename" default="lds_2d_gazebo.lua"/>






  <!--gmapping w/ config-->
  <include file="$(find roboin_slam)/launch/roboin_mapping_gmapping.launch">
    <arg name="configuration_basename" value="$(arg configuration_basename)"/>
  </include>




  <!--rviz w/ config-->
  <node name="rviz" pkg="rviz" type="rviz"
        args="-d $(find roboin_slam)/rviz/mapping.rviz" />


</launch>
