<launch>

  <!-- map file -->
  <arg name="map_file" default="$(find roboin_navigation)/maps/map.yaml"/>



  <!-- AMCL -->
  <include file="$(find roboin_navigation)/launch/roboin_amcl.launch">
    <arg name="map_file" value="$(find roboin_navigation)/maps/map.yaml"/>
  </include>

  <!-- move_base -->
  <include file="$(find roboin_navigation)/launch/roboin_move_base.launch"/>


</launch>
