<launch>

  <!-- amcl config-->
  <arg name="odom_frame_id"     default="odom"/>
  <arg name="base_frame_id"     default="base_link"/>
  <arg name="global_frame_id"     default="map"/>

  <arg name="scan_topic_name"     default="scan"/>
  <arg name="map_topic_name"     default="map"/>

  <arg name="initial_pose_x" default="1"/>
  <arg name="initial_pose_y" default="1"/>
  <arg name="initial_pose_a" default="3.14"/>



  <!-- AMCL -->
  <node pkg="amcl" type="amcl" name="amcl">
    
    <remap from="map"                       to="$(arg map_topic_name)"/>
    <param name="min_particles"             value="300"/>
    <param name="max_particles"             value="5000"/>
    <param name="kld_err"                   value="0.05"/>
    <param name="kld_z"                     value="0.99"/>
    <param name="update_min_d"              value="0.2"/>
    <param name="update_min_a"              value="0.2"/>
    <param name="resample_interval"         value="1"/>
    <param name="transform_tolerance"       value="0.3"/>
    <param name="recovery_alpha_slow"       value="0.001"/>
    <param name="recovery_alpha_fast"       value="0.1"/>
    <param name="initial_pose_x"            value="$(arg initial_pose_x)"/>
    <param name="initial_pose_y"            value="$(arg initial_pose_y)"/>
    <param name="initial_pose_a"            value="$(arg initial_pose_a)"/>
    <param name="initial_cov_xx"            value="0.1"/>
    <param name="initial_cov_yy"            value="0.1"/>
    <param name="initial_cov_aa"            value="0.1"/>
    <param name="gui_publish_rate"          value="10.0"/>
    <param name="use_map_topic"             value="false"/>
    <param name="first_map_only"            value="false"/>

    <remap from="scan"                      to="$(arg scan_topic_name)"/>
    <param name="laser_min_range"           value="0.15"/>
    <param name="laser_max_range"           value="8.0"/>
    <param name="laser_max_beams"           value="30"/>
    <param name="laser_z_hit"               value="0.5"/>
    <param name="laser_z_rand"              value="0.5"/>
    <param name="laser_sigma_hit"           value="0.2"/>
    <param name="laser_lambda_short"        value="0.1"/>
    <param name="laser_likelihood_max_dist" value="5.0"/>
    <param name="laser_model_type"          value="likelihood_field_prob"/>

    <param name="odom_model_type"           value="omni"/>
    <param name="odom_alpha1"               value="0.05"/>
    <param name="odom_alpha2"               value="0.05"/>
    <param name="odom_alpha3"               value="0.02"/>
    <param name="odom_alpha4"               value="0.05"/>
    <param name="odom_alpha5"               value="0.03"/>
    <param name="odom_frame_id"             value="$(arg odom_frame_id)"/>
    <param name="base_frame_id"             value="$(arg base_frame_id)"/>
    <param name="global_frame_id"           value="$(arg global_frame_id)"/>
    <param name="tf_broadcast"              value="true"/>

    <param name="do_beamskip"              value="true"/>

  </node>




</launch>
