<launch>
  <arg name="model" default="robomaster_ai"/>
  <arg name="world" default="robomaster"/>
  <arg name="x_pos" default="-3.55"/>
  <arg name="y_pos" default="1.95"/>
  <arg name="z_pos" default="0.0"/>
  <arg name="Y_pos" default="3.14"/>



  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find roborts_gazebo)/world/$(arg world).world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find roborts_gazebo)/urdf/$(arg model).xacro" />

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />
  
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" args="-urdf -model robomaster_ai -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -Y $(arg Y_pos) -param robot_description" />

</launch>
